<div class="row" *ngIf="vehicle">
    <div class="col-md-3">
        <img [src]="vehicle.vehicleImage" alt="" class="img-fluid" height="300" width="350">

    </div>
</div>
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                
                <div class="col-md-6">
                    <h4>{{vehicle.vehicleCompany}}{{vehicle.vehicleName}}</h4>
                    <p>{{vehicle.vehicleDescription}}</p>
                    <p>availableTime:{{vehicle.availableTime}}</p>
                    <p>{{vehicle.rating}}</p>

                </div>
                <div class="col-md-6">
                    <h4>price:{{vehicle.vehiclePrice}}</h4>
                    <button class="btn btn-primary"data-bs-target="#mymodal" data-bs-toggle="modal" (click)="openmodal(vehicle)">book now</button>
                    <button class="btn btn-warning" (click)="addtowishlist(vehicle)">wishlist</button>
                </div>
                </div>
                </div>
                </div>
                <div class="modal fade" id="mymodal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3>Book now</h3>
                                <button class="btn-close" data-bs-dismiss="modal"></button>
                                <div class="modal-body">
                                    <form action="" (ngSubmit)="ordernow()">
                                        <div class="form-group">
                                            <label for="" class="form-label">vehicleName</label>
                                            <input type="text" class="form-control" name="vname" [(ngModel)]="orderedVehicle.vehicleName" disabled="">
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="form-label">vehiclePrice</label>
                                            <input type="text" class="form-control" name="vprice" [(ngModel)]="orderedVehicle.vehiclePrice" disabled="">
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="form-label">username</label>
                                            <input type="text"  class="form-control" name="uname" [(ngModel)]="uname">
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="form-label">address</label>
                                            <input type="text"  class="form-control" name="uaddress" [(ngModel)]="uaddress">
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="form-label">time</label>
                                            <input type="text"  class="form-control" name="utime" [(ngModel)]="utime">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary" type="submit">book</button>
                                            
                                        </div>
                                    </form>
                                    <div class="modal-footer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                

    