<div class="row">
    <div class="col-md-4" *ngFor="let b of cars">
        <a routerLink="#" (click)="openvehicle(b.vehicleId)">
            <div class="card">
                <div class="card-header">
                    <img [src]="b.vehicleImage" height="300" width="300" class="img-fluid">
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{b.vehicleName}}</h4>
                    <p><span class="badge bg-primary">{{b.rating}}</span></p>
                </div>
            </div>
        </a>
    </div>
</div>
<router-outlet></router-outlet>